/* файл с кейфреймом */
@import url(../../rotation/rotation.css);

.header__square-pic {
  animation: rotation 20s linear infinite;
  overflow: hidden;
  position: absolute;
  background-color: #2f80ed;
  width: 568px;
  height: 568px;
  right: 0;
  top: 64px;
  z-index: 1;
}
